APP_PORT=3000
BASE_URL=https://sua-url-no-vercel.vercel.app

# Auth
APP_SECRET=mysecret-em-producao  
TOKEN_EXPIRES=1h

# Database
DATABASE_URL=postgresql://postgres:mDUOIuQfhxiJONrPeWrpjdgIegXBaIJT@centerbeam.proxy.rlwy.net:32565/railway
